<!-- <footer class="f-info">
  <div class="f-info-socials">
    <i class="fa-brands fa-square-facebook"></i>
    <i class="fa-brands fa-square-instagram"></i>
    <i class="fa-brands fa-linkedin"></i>
  </div>
  <div>&copy; WanderLust Private Limited</div>
  <div class="f-info-links">
    <a href="/privacy">Privacy</a>
    <a href="/terms">Terms</a>
  </div>
</footer> -->
<div class="footer-dark">
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-3 item">
          <h3>Support</h3>
          <ul>
            <li><a href="#">Help Centre</a></li>
            <li><a href="#">AirCover</a></li>
            <li><a href="#">Cancellation options</a></li>
          </ul>
        </div>
        <div class="col-sm-6 col-md-3 item">
          <h3>Hosting</h3>
          <ul>
            <li><a href="#">Airbnb your home</a></li>
            <li><a href="#">AirCover for Hosts</a></li>
            <li><a href="#">Community forum</a></li>
          </ul>
        </div>
        <div class="col-sm-6 col-md-3 item">
          <h3>Airbnb</h3>
          <ul>
            <li><a href="#">Newsroom</a></li>
            <li><a href="#">New features</a></li>
            <li><a href="#">Investors</a></li>
          </ul>
        </div>

        <div class="col item social">
          <a href="#"><i class="fa-brands fa-square-facebook"></i></a
          ><a href="#"><i class="fa-brands fa-square-instagram"></i></a
          ><a href="#"><i class="fa-brands fa-linkedin"></i></a>
        </div>
      </div>
      <div class="copyright-box">
        <p class="copyright">&copy; 2025 Airbnb, Inc.</p>
      </div>
    </div>
  </footer>
</div>
