<nav class="navbar navbar-expand-md bg-body-light border-bottom z-5">
  <div class="container-fluid d-flex">
    <a class="navbar-brand" href="/"
      ><i class="fa-brands fa-airbnb fa-xl pt-2 ms-3" style="color: #ff0000"></i
    ></a>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a
          class="nav-link"
          href="/"
          style="font-weight: 800; font-size: x-large; color: red"
          >Airbnb</a
        >
      </div>
      <div class="navbar-nav d-flex justify-content-center align-items-center">
        <form
          class="d-flex justify-content-center align-items-center"
          role="search"
        >
          <input
            class="form-control"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
          <button
            class="btn btn-outline-danger active btn-search"
            style="border-radius: 0.8rem"
          >
            Search
          </button>
        </form>
      </div>
      <div class="navbar-nav ms-auto">
        <a
          class="nav-link text-danger me-3"
          style="font-weight: 500; font-size: large"
          href="/new"
          ><b>Airbnb Your Home</b></a
        >

        <div
          class="dropdown d-flex justify-content-center align-items-center px-4"
        >
          <button
            class="btn"
            type="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <i class="fa-solid fa-user"></i>
          </button>
          <ul class="dropdown-menu w-100 mt-2">
            <%if(!currentUser){%>
            <a class="nav-link" href="/account/signup"><b>Sign up</b></a>
            <a class="nav-link" href="/account/login"><b>Login</b></a>
            <%}%> <%if(currentUser){%>
            <a class="nav-link" href="/account/logout">Log Out</a>
            <%}%>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>
